<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <% include nav.ejs %>

  <div class="container home">
    <div class="row">
      <header class="panel panel-default">
          <!--
          <div class="panel-heading">
              <h1>Boomstack</h1>
          </div>
          -->

          <div class="panel-body">
              Simply bookmark the pages you like<br/><span> Tag them, and find them later easily.</span>
          </div>
      </header>
    </div>

    <div class="row">
       <ul class="list-group">
          <li class="list-group-item post text-center li-head"><h4>Latest bookmarks added : </h4></li>
          <!-- @foreach ($markups as $markup) -->
          <% lastBookmarks.forEach((bookmark) => { %>
              <li class="list-group-item post">
                  <div class="post-title">
                      <%= bookmark.prettyTitle %>
                      <!-- @foreach ($markup->tags as $tag) -->
                      <% bookmark.tags.forEach( tag => { %>
                          <span class="label label-default"><%= tag %></span>
                      <!-- @endforeach -->
                      <% }); %>
                  </div>
                  <div class="post-link">
                    <% if (bookmark.host && bookmark.url) { %>
                      <a target="_blank" rel="nofollow" href="<%= bookmark.url %>">

                        <%= bookmark.host %>
                      </a>
                      <% } %>
                  </div>
              </li>
          <!-- @endforeach -->
          <% }); %>
      </ul>
    </div>

  </div>
  </body>
</html>
